<%= form_for([@doctor, @patient]) do |f| %>

<% if @patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@patient.errors.count, "error")%> prohibited this patient from being saved:</h2>
    <ul>
      <% @patient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :Firstname, :for => 'pfirstname' %>
    <%= f.text_field :firstname, :class => 'mdl-textfield__input', :id => 'pfirstname', :type => 'text' %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :Surname, :for => 'psurname' %>
    <%= f.text_field :surname, :class => 'mdl-textfield__input', :id => 'psurname', :type => 'text' %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :Admission_date, :for => 'padmission' %><br/>
    <%= f.date_select :admission_date, :id => 'padmission', :type => 'text'  %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :DOB, :for => 'pdob' %><br/>
    <%= f.date_select :dob, :id => 'pdob', :type => 'text' %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :Address, :for => 'paddress' %>
    <%= f.text_field :address, :class => 'mdl-textfield__input', :id => 'paddress', :type => 'text'   %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :Phone, :for => 'pphone' %>
    <%= f.text_field :phone, :class => 'mdl-textfield__input', :id => 'pphone', :type => 'text' %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <%= f.label :Email, :for => 'pemail' %>
  <%= f.text_field :email, :class => 'mdl-textfield__input', :id => 'pemail', :type => 'text' %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <%= f.label :Healthy, :for => 'phealthy' %>
  <%= f.text_field :healthy, :class => 'mdl-textfield__input', :id => 'phealthy', :type => 'text' %>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <%= f.label :Notes, :for => 'pnotes' %>
  <%= f.text_field :notes, :class => 'mdl-textfield__input', :id => 'pnotes', :type => 'text' %>
</div>

<br/>

<div class="actions">
  <%= f.submit "add/update details", :class => ' mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
</div>

<br/>
<br/>
<% end %>
