<h1>Editing Patient: <%= @patient.firstname %>  <%= @patient.surname %></h1>

<%= render 'form' %>

<%= link_to 'Show', doctor_patient_path(@doctor, @patient), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<%= link_to 'Back', doctor_patients_path(@doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
