<p id="notice"><%= notice %></p>

<h2>Patient: <%= @patient.firstname %>   <%= @patient.surname %></h2>

<p>
  <strong>Admission Date:</strong>
  <%= @patient.admission_date %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Health:</strong>
  <%= @patient.healthy %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @patient.notes %>
</p>

<%= link_to 'Edit details', edit_doctor_patient_path(@doctor, @patient), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<td><%= link_to 'Delete', doctor_patient_path(@doctor, @patient), method: :delete, data: { confirm: 'Are you sure you want to delete this patient?' }, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
<%= link_to 'Back to all patients', doctor_patients_path(@doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
