<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :firstname, :class => 'mdl-textfield__input' %>
    <%= form.label :firstname, :class => 'mdl-textfield__label' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :surname, :class => 'mdl-textfield__input' %>
    <%= form.label :surname, :class => 'mdl-textfield__label' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.date_select :dob, :class => 'mdl-textfield__input' %>
    <%= form.label :dob, :class => 'mdl-textfield__label' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :address, :class => 'mdl-textfield__input' %>
    <%= form.label :address, :class => 'mdl-textfield__label' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :phone, :class => 'mdl-textfield__input' %>
    <%= form.label :phone, :class => 'mdl-textfield__label' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :email, :class => 'mdl-textfield__input' %>
    <%= form.label :email, :class => 'mdl-textfield__label' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :specialisation, :class => 'mdl-textfield__input' %>
    <%= form.label :specialisation, :class => 'mdl-textfield__label' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
