<h1>Editing Doctor: <%= @doctor.firstname %>  <%= @doctor.surname %></h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Discard changes', @doctor, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<%= link_to 'Back', :back, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<%= link_to 'All doctors', doctors_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
