<p id="notice"><%= notice %></p>

<h1>Doctors</h1>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Specialisation</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.firstname%></td>
      <td><%= doctor.surname %></td>
      <td><%= doctor.dob %></td>
      <td><%= doctor.address %></td>
      <td><%= doctor.phone %></td>
      <td><%= doctor.email %></td>
      <td><%= doctor.specialisation %></td>
      <td></td>
      <td><%= link_to 'Details', doctor, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
      <td><%= link_to 'Edit', edit_doctor_path(doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
      <td><%= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure you want to delete this doctor?' }, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Doctor', new_doctor_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
