<p id="notice"><%= notice %></p>

<h1>Doctor:  <%= @doctor.firstname %>  <%= @doctor.surname %> </h1>

<!-- Simple list -->
<style>
.demo-list-item {
  width: 300px;
}
</style>

<ul class="demo-list-item mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <strong>Date of Birth: </strong>
      <%= @doctor.dob %></span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <strong>Address:</strong>
      <%= @doctor.address %></span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <strong>Phone:</strong>
      <%= @doctor.phone %>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <strong>Email:</strong>
      <%= @doctor.email %>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <strong>Specialisation:</strong>
      <%= @doctor.specialisation %>
  </li>
</ul>

<%= link_to 'Edit details', edit_doctor_path(@doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<%= link_to 'Delete', @doctor, method: :delete, data: { confirm: 'Are you sure you want to delete this doctor?' }, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>

<!-- Display the patients of the doctor -->
<h1>Patients of <%= @doctor.firstname %>  <%= @doctor.surname %> </h1>

<ul class="demo-list-item mdl-list">
  <% @doctor.patients.each do |patient| %>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <strong>Name:</strong>
        <%= patient.firstname %>
        <%= patient.surname %>
    </li>
  <% end %>
</ul>


<%= link_to 'Show Patient Info', doctor_patients_path(@doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<%= link_to 'Add New Patient', new_doctor_patient_path(@doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>

<br/>

<hr/>

<%= link_to 'Back to home', doctors_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
