<p id="notice"><%= notice %></p>

<h2>Doctor:  <%= @doctor.firstname %>  <%= @doctor.surname %> </h2>

<p>
  <strong>Date of Birth:</strong>
  <%= @doctor.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Specialisation:</strong>
  <%= @doctor.specialisation %>
</p>

<%= link_to 'Edit details', edit_doctor_path(@doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<%= link_to 'Delete', @doctor, method: :delete, data: { confirm: 'Are you sure you want to delete this doctor?' }, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<!-- Display the patients of the doctor -->
<h2>Patients of <%= @doctor.firstname %>  <%= @doctor.surname %> </h2>

<% @doctor.patients.each do |patient| %>
  <p>
    <strong>Name:</strong>
    <%= patient.firstname %>
    <%= patient.surname %>
  </p>
<% end %>

<%= link_to 'Back to home', doctors_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
<%= link_to 'Show Patient Info', doctor_patients_path(@doctor), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
