<!DOCTYPE html>
<html>
  <head>
    <title>SmartHealthCare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <link rel="icon" href="../../assets/images/favicon.ico" type="image/png" sizes="16x16 32x32">
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon" sizes="16x16 32x32"> -->
    <link rel="shortcut icon" href="favicon.png" type="image/png" sizes="16x16 32x32">

    <!-- def favicon_link_tag(source='favicon.ico', options={})
       tag('link', {
         :rel  => 'shortcut icon',
         :type => 'image/x-icon',
         :href => path_to_image(source)
       }.merge!(options.symbolize_keys))
     end -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Smart Health Care</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%= link_to "Home", root_path, :class => "mdl-navigation__link" %>
            <!-- <a class="mdl-navigation__link" href="">Doctors</a> -->
            <%= link_to 'Doctors', doctors_path, :class => 'mdl-navigation__link' %>
            <%= link_to 'Patients', doctors_path, :class => 'mdl-navigation__link' %>
            <%= link_to 'Conditions', doctors_path, :class => 'mdl-navigation__link' %>
            <%= render 'devise/menu/login_items', :class => "mdl-navigation__link" %>
          </nav>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
          <%= render 'devise/menu/registration_items', :class => "mdl-navigation__link" %>
          <!-- <a class="mdl-navigation__link" href="">Link</a> -->
        </nav>
      </div>



          <main class="mdl-layout__content">

            <div class="mdl-grid">

              <div class="mdl-cell mdl-cell--1-col"></div>
              <div class="mdl-cell mdl-cell--10-col">

                <div class="page-content">
                  <!-- Your content goes here -->
                    <%= yield %>

                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                </div>

              </div>
              <div class="mdl-cell mdl-cell--1-col"></div>
            </div>
          </main>



      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Title</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
        </div>
      </footer>
    </div>


  </body>
</html>
